# GCO-presales-apj
azure_subscription_id = ""
azure_tenant_id       = ""
azure_client_id       = ""
azure_client_secret   = ""
azure_location        = "Central India"
rancher_server_use_static_public_ip = true
no_of_downstream_clusters           = 2
prefix                = "lab"
resource_group_name   = "apj-se-dpatel-demo-xx"
tag_resource_owner    = "deepak.patel@suse.com"
tag_group             = "GSO"
tag_department        = "PreSales"
tag_stakeholder       = "Peter Lees"
tag_environment       = "Test"
tag_project           = "Demo"
